<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a TechNet Shop Near You</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="hero">
    <img src="img/logo.png" class="logo" alt="My Logo">
    <nav>
        <ul>
            <li><a href="menu.html">Find a Shop</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="careers.html">Careers</a></li>
        </ul>
    </nav>




<!--  <div class="content">
        <a href="menu.html" class="btn anim">Order Now</a>
        <a href="catering.html" class="btn anim">Catering Services</a>
    </div> -->

    <!-- <img src="img/pic.png" class="feature-img anim" alt="Feature Image"> -->

    <!-- Menu Section -->
</div>
</body>
</html>
